<div pb-checkout-section="shipping" class="form-section hide">
    <h1 class="form-section__title">Shipping Method</h1>
    <div class="shipping_method-wrapper">
        <div>Enter your shipping address to view available shipping methods.</div>
    </div>
    <div os-component="shipping-mode" class="shipping-selector">
        <div class="shipping-method"><label id="combo_mode_shipping" shipping_mode="1"
                class="radio-select-shipping"><input type="radio" name="shipping_method" id="shipping_method_1"
                    data-name="Shipping Method" class="payment-method__input" checked="" value="1">
                <div class="shipping-method-rleft">
                    <div>Standard Shipping</div>
                    <div class="text-block-369">Testing a default shipping description for customization.
                    </div>
                </div>
                <div class="shipping_price">
                    <div>$0.00</div>
                </div>
            </label></div>
        <div class="shipping-method"><label id="combo_mode_shipping" shipping_mode="2"
                class="radio-select-shipping"><input type="radio" name="shipping_method" id="shipping_method_2"
                    data-name="Shipping Method" class="payment-method__input" checked="" value="2">
                <div class="shipping-method-rleft">
                    <div>Subscription Shipping</div>
                    <div class="text-block-369">Testing a default shipping description for customization.
                    </div>
                </div>
                <div class="shipping_price">
                    <div>$5.00</div>
                </div>
            </label></div>
        <div class="shipping-method cc-last"><label id="combo_mode_shipping" shipping_mode="3"
                class="radio-select-shipping"><input type="radio" name="shipping_method" id="shipping_method_3"
                    data-name="Shipping Method" class="payment-method__input" checked="" value="3">
                <div class="shipping-method-rleft">
                    <div>Expedited: Standard Overnight</div>
                    <div class="text-block-369">Get the fastest shipping with our premium insured
                        expedited shipping service.</div>
                </div>
                <div class="shipping_price">
                    <div>$28.00</div>
                </div>
            </label></div>
    </div>
</div>