{% assign images = include.images | default: slider_images %}

<div class="slider2_component-wrapper">

    <div swiper="slider-main" class="swiper is-v9-main">
        <div class="swiper-wrapper">
            {% if include.show_package_image %}
            <div class="swiper-slide">
                <div class="swiper-slide_inner">
                    <div class="swiper-slide_image-wrap is-square"><img loading="eager"
                            data-next-display="package.image" src="" alt="" class="cover"></div>
                </div>
            </div>
            {% endif %}
            {% for image in images %}
            <div class="swiper-slide">
                <div class="swiper-slide_inner">
                    <div class="swiper-slide_image-wrap is-square">
                        <img loading="eager" src="{{ image | campaign_asset }}" alt="" class="cover">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="swiper-thumbs-arrow">
        <div swiper="prev-button" class="swiper__button-static is-sw22">
            <div class="swiper__button-icon w-embed"><svg width="100%" height="100%" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.91316 12.9545L0 12.0028L0.91316 11.0511L9.16383 2.45175L10.077 1.5L11.8979 3.39789L10.9848 4.34964L4.93644 10.6592H22.7108H24V13.3464H22.7108H4.93644L10.9902 19.6504L11.9033 20.6021L10.0824 22.5L9.1692 21.5483L0.91316 12.9545Z"
                        fill="currentColor"></path>
                </svg></div>
        </div>
        <div class="slider2_thumbs-wrap is-sw22">
            <div thumbsslider="" swiper="slider-thumbs" class="swiper is-v9-thumbs">
                <div class="swiper-wrapper">
                    {% if include.show_package_image %}
                    <div class="swiper-slide is-thumb swiper-slide-thumb-active">
                        <div class="swiper-slide_inner">
                            <div class="swiper-slide_image-wrap"><img loading="eager" data-next-display="package.image"
                                    src="" alt="" class="cover"></div>
                        </div>
                    </div>
                    {% endif %}
                    {% for image in images %}
                    <div
                        class="swiper-slide is-thumb{% if forloop.first and include.show_package_image == false %} swiper-slide-thumb-active{% endif %}">
                        <div class="swiper-slide_inner">
                            <div class="swiper-slide_image-wrap"><img loading="eager" src="{{ image | campaign_asset }}"
                                    alt="" class="cover"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div swiper="next-button" class="swiper__button-static is-sw22">
            <div class="swiper__button-icon w-embed"><svg width="100%" height="100%" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M23.0868 12.9545L24 12.0028L23.0868 11.0511L14.8362 2.45175L13.923 1.5L12.1021 3.39789L13.0152 4.34964L19.0636 10.6592H1.28917H0V13.3464H1.28917H19.0582L13.0098 19.6504L12.0967 20.6021L13.9176 22.5L14.8308 21.5483L23.0868 12.9545Z"
                        fill="currentColor"></path>
                </svg></div>
        </div>
    </div>
</div>