<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta content="{{ title }}" property="og:title">
    <meta content="{{ title }}" property="twitter:title">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link rel="dns-prefetch" href="https://campaigns.apps.29next.com">
    <link rel="dns-prefetch" href="https://cdn-countries.muddy-wind-c7ca.workers.dev">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">

    <!-- Campaign Configuration -->
    <script src="../config.js"></script>
    <!-- Campaign Loader Script -->
    <script src="https://cdn.jsdelivr.net/gh/NextCommerceCo/campaign-cart@v0.3.7/dist/loader.js" type="module"></script>

    <!-- NEXT Metatags -->
    <meta name="next-page-type" content="product">
    <meta name="next-funnel" content="LP01">


    <link href="../css/next-staging-core.css" rel="stylesheet" type="text/css">
    <link href="../css/custom.css" rel="stylesheet" type="text/css">
    <link href="../css/funnels-funnel-1-landing.css" rel="stylesheet" type="text/css">


    <link href="../images/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="../images/webclip.png" rel="apple-touch-icon">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    
  </head>
  <body>
    
    
    {{ content }}



    <a href="https://nextcommerce.com/?utm_source=webflow&amp;utm_campaign=gallery" class="next-overlay w-inline-block">
      <div class="logo-flow w-embed"><svg class="debug-logo" width="100%" height="100%" viewBox="0 0 115.4 101.9" fill="none">
          <defs>

          </defs>
          <path class="st0" d="M83.5,58.3l-1.9-1.3L27.2,21.2c-.7-.4-1.4-.6-2-.6-2,0-3.6,1.6-3.6,3.6v53.4c0,2,1.6,3.6,3.6,3.6h3.8v12.3h-3.8c-8.8,0-15.8-7.1-15.8-15.8V24.3c0-8.8,7.1-15.8,15.8-15.8,3.1,0,6.2.9,8.7,2.6h0l49,33.4.5.4v13.5ZM90.2,8.4c8.8,0,15.8,7.1,15.8,15.8v53.4c0,8.8-7.1,15.8-15.8,15.8s-6.2-.9-8.7-2.6h0l-49-33.4-.5-.4v-13.5l1.9,1.3,54.3,35.7c.7.4,1.4.7,2,.7,2,0,3.6-1.6,3.6-3.6V24.3c0-2-1.6-3.6-3.6-3.6h-3.8v-12.3h3.8Z"></path>
        </svg></div>
      <div>Next Commerce</div>
    </a>


    <!-- Consolidated Custom CSS -->


    <script defer="" src="js/funnels-funnel-1-landing.js"></script>
  </body>
</html>